# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ced802aa76ce63349f85a1bf2a88e952c8e38323587da1a611bfccf79c65fad2084dc507dd1cda79523d534adabb1e7a5f2f42951c495fb781b2e815c9db4b08

test:
  secret_key_base: 5f45aa6f5113c71359b056629911bd5a51dd31370505eda1597c2a9ba2f0f36e4bce4242636f170ac4abe2318d7f6af400bab1e894d66e248c852353a8084daa

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
